# Libis Gardening Prediction System

In [1]:

%run codes/logo.ipynb

# Historical Sales

In [2]:

%run codes/historicalsales.ipynb
# concatinate the objects 
df = pd.concat([train2, train1, test], axis=0)
pd.set_option('display.max_rows', df.shape[0]+1)
df.reset_index(drop=True, inplace=True)
df

       Name    Size Cost Category Sales  Year
0    Kamias  Medium  100     Tree  3400  2020
1  Kalamasi  Medium  120     Tree  4080  2020
2    Papaya   Small   50     Tree  1700  2020
3    Kamias  Medium  100     Tree  3700  2021
4  Kalamasi  Medium  120     Tree  5060  2021
5    Papaya   Small   50     Tree  2500  2021

# Sales Predictions

In [3]:

%run codes/randomforestregression.ipynb

Model Report Score Accuracy: 0.8656730769230769

## Annual Prediction Result

In [4]:

mission = pd.DataFrame()
mission['Product Name'] = test["Name"]
mission['Predicted Sales (₱)'] = pred
pd.set_option('display.max_rows', df.shape[0]+1)
mission

  Product Name  Predicted Sales (₱)
3       Kamias               3495.2
4     Kalamasi               3842.0
5       Papaya               2281.4

## Quarterly Prediction Result

In [5]:

mission = pd.DataFrame()
mission['Product Name'] = test["Name"]
mission['Predicted Sales (₱)'] = pred / 4
pd.set_option('display.max_rows', df.shape[0]+1)
mission

  Product Name  Predicted Sales (₱)
3       Kamias               873.80
4     Kalamasi               960.50
5       Papaya               570.35

## Monthly Prediction Result

In [6]:

mission = pd.DataFrame()
mission['Product Name'] = test["Name"]
mission['Predicted Sales (₱)'] = pred / 12
pd.set_option('display.max_rows', df.shape[0]+1)
mission

  Product Name  Predicted Sales (₱)
3       Kamias           291.266667
4     Kalamasi           320.166667
5       Papaya           190.116667